<%- include('parts/html-head') %>

<%- include('parts/navbar') %>

<div class="container">

    <form method="post">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            <% if(typeof email !== 'undefined') { %>
            <small id="emailHelp" class="form-text text-muted">上次輸入: <%= email %></small>
            <% } %>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
            <% if(locals.password !== undefined) { %>
            <small id="emailHelp" class="form-text text-muted">上次輸入: <%= password %></small>
            <% } %>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<div><%= JSON.stringify(locals) %></div>

    
</div>
<%- include('parts/html-foot') %>