<%- include('../parts/html-head') %>

<%- include('../parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item <%= 1===page ? 'disabled' : '' %>">
                        <a class="page-link" href="/address-book/list/<%= page-1 %>"><i class="fas fa-arrow-left"></i></a>
                    </li>
                    <% for(let i=1; i<=totalPages; i++){ %>
                    <li class="page-item <%= i===page ? 'active' : '' %>">
                        <a class="page-link" href="/address-book/list/<%= i %>"><%= i %></a>
                    </li>

                    <% } %>
                    <li class="page-item <%= totalPages===page ? 'disabled' : '' %>">
                        <a class="page-link" href="/address-book/list/<%= page+1 %>"><i class="fas fa-arrow-right"></i></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col"><i class="fas fa-trash-alt"></i></th>
                    <th scope="col">#</th>
                    <th scope="col">姓名</th>
                    <th scope="col">手機</th>
                    <th scope="col">電郵</th>
                    <th scope="col">生日</th>
                    <th scope="col">地址</th>
                </tr>
                </thead>
                <tbody>
                <% for(let i=0; i<rows.length; i++){ %>
                    <tr>
                        <td><a class="remove-link" href="/address-book/del/<%= rows[i].sid %>">
                                <i class="fas fa-trash-alt"></i>
                            </a></td>
                        <td><%= rows[i].sid %></td>
                        <td><%= rows[i].name %></td>
                        <td><%= rows[i].mobile %></td>
                        <td><%= rows[i].email %></td>
                        <td><%= rows[i].birthday %></td>
                        <td><%= rows[i].address %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    const removeLinks = $('.remove-link');
    removeLinks.click(function(event){
        const me = $(this);
        const link = $(this).attr('href')
        console.log(link);

        event.preventDefault(); // 避免直接連到 href
        $.post(link, function(data){
            console.log(data)
            // me.closest('tr').remove();
            location.reload();
        }, 'json');
    });

</script>
<%- include('../parts/html-foot') %>