<%- include('../parts/html-head') %>

<%- include('../parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item <%= 1===page ? 'disabled' : '' %>">
                        <a class="page-link" href="/address-book/<%= page-1 %>"><i class="fas fa-arrow-left"></i></a>
                    </li>
                    <% for(let i=1; i<=totalPages; i++){ %>
                    <li class="page-item <%= i===page ? 'active' : '' %>">
                        <a class="page-link" href="/address-book/<%= i %>"><%= i %></a>
                    </li>

                    <% } %>
                    <li class="page-item <%= totalPages===page ? 'disabled' : '' %>">
                        <a class="page-link" href="/address-book/<%= page+1 %>"><i class="fas fa-arrow-right"></i></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col"><i class="fas fa-trash-alt"></i></th>
                    <th scope="col">#</th>
                    <th scope="col">姓名</th>
                    <th scope="col">手機</th>
                    <th scope="col">電郵</th>
                    <th scope="col">生日</th>
                    <th scope="col">地址</th>
                    <th scope="col"><i class="fas fa-edit"></i></th>
                </tr>
                </thead>
                <tbody>
                <% for(let i=0; i<rows.length; i++){ %>
                    <tr>
                        <td><a class="remove-link" href="javascript:removeItem(<%= rows[i].sid %>)">
                                <i class="fas fa-trash-alt"></i>
                            </a></td>
                        <td><%= rows[i].sid %></td>
                        <td><%= rows[i].name %></td>
                        <td><%= rows[i].mobile %></td>
                        <td><%= rows[i].email %></td>
                        <td><%= rows[i].birthday %></td>
                        <td><%= rows[i].address %></td>
                        <td><a href="/address-book/edit/<%= rows[i].sid %>">
                                <i class="fas fa-edit"></i>
                            </a></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function removeItem(sid){
        if(confirm(`確定要刪除編號 ${sid} 的項目嗎?`)){
            fetch('/address-book/del/'+sid, {
                method: 'POST'
            })
            .then(r=>r.json())
            .then(obj=>{
                console.log(obj);
                location.reload();
            })
        }
    }
</script>
<%- include('../parts/html-foot') %>